@charset "UTF-8";
@font-face {
  font-family: "myfont";
  src: url("../fonts/iconsfont..eot");
  src: url("../fonts/iconsfont.?#iefix") format("embedded-opentype"), url("../fonts/iconsfont.woff") format("woff"), url("../fonts/iconsfont.ttf") format("truetype"), url("../fonts/iconsfont.#iconsfont") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: "myfont"; }
  .icon:before {
    /* Some common icon stuff */ }
  .icon.-bell:before {
    content: ""; }
  .icon.-comment:before {
    content: ""; }
  .icon.-fav:before {
    content: ""; }
  .icon.-friends:before {
    content: ""; }
  .icon.-left_arrow:before {
    content: ""; }
  .icon.-lens:before {
    content: ""; }
  .icon.-login:before {
    content: ""; }
  .icon.-no:before {
    content: ""; }
  .icon.-password:before {
    content: ""; }
  .icon.-right_arrow:before {
    content: ""; }
  .icon.-views:before {
    content: ""; }
  .icon.-yes:before {
    content: ""; }

.row:after {
  display: block;
  clear: both;
  content: ''; }

.row + .row {
  margin-top: 3%; }

[class^="col-"] {
  float: left;
  margin-right: 3%;
  box-sizing: border-box; }
  [class^="col-"]:last-child {
    margin-right: 0%; }

/*
.col-1  { width:5.583333333333333%; }
.col-2  { width:14.16666666666667%; }
.col-3  { width:22.75%; }
.col-4  { width:31.33333333333333%; }
.col-5  { width:39.91666666666667%; }
.col-6  { width:48.5%; }
.col-7  { width:57.08333333333333%; }
.col-8  { width:65.66666666666666%; }
.col-9  { width:74.25%; }
.col-10 { width:82.83333333333333%; }
.col-11 { width:91.41666666666666%; }
.col-12 { width:100%; }
*/
.col-1 {
  width: 5.58333%; }

.col-2 {
  width: 14.16667%; }

.col-3 {
  width: 22.75%; }

.col-4 {
  width: 31.33333%; }

.col-5 {
  width: 39.91667%; }

.col-6 {
  width: 48.5%; }

.col-7 {
  width: 57.08333%; }

.col-8 {
  width: 65.66667%; }

.col-9 {
  width: 74.25%; }

.col-10 {
  width: 82.83333%; }

.col-11 {
  width: 91.41667%; }

.col-12 {
  width: 100%; }

/* MAIN SETTINGS */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #777777; }

a {
  text-decoration: none;
  color: #777777; }

ul {
  list-style-type: none; }

.float-left {
  float: left; }

.wrapper {
  width: 1600px;
  margin: 0 auto; }

/* Switches and checkpoints grouped in divs */
.group {
  float: left;
  height: 135px;
  width: 100px;
  margin-left: 50px; }
  .group:first-child {
    margin-left: 40px; }
  .group:nth-child(6) {
    margin-left: 180px; }
  .group:last-child {
    margin-left: 100px; }

/* HEADER STYLE */
header {
  height: 120px;
  line-height: 120px;
  padding-top: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  vertical-align: middle;
  font-size: 30px;
  background: #fafafa linear-gradient(to right, #4e90c7 0, 25%, #ff7f68 25%, 50%, #ffa940 50%, 75%, #a9cf55 75%) 1.25rem 0/65% 0.5rem repeat-x; }

.header__nav {
  float: left;
  padding: 0 40px; }
  .header__nav a {
    margin-left: 60px; }
    .header__nav a:first-child {
      margin: 0; }
    .header__nav a:hover {
      border-bottom: 1px solid #777777; }

.headerSearch {
  position: relative;
  overflow: hidden;
  padding: 30px 40px 20px;
  line-height: 0; }

.headerSearch__input {
  height: 0;
  width: 415px;
  padding: 30px 18px;
  outline: 0;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  color: #d5d5d5; }
  .headerSearch__input:focus {
    color: #000;
    border-color: #777777; }

.headerSearch__submit {
  position: absolute;
  right: 25px;
  top: 45px;
  width: 35px;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 35px;
  color: #d5d5d5;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer; }
  .headerSearch__submit:hover {
    color: #777777; }

.header__profile {
  float: right;
  padding: 0 40px; }
  .header__profile a {
    position: relative;
    margin: 20px;
    font-size: 40px;
    color: #cccccc; }
    .header__profile a:hover {
      color: #777777; }
  .header__profile img {
    border-radius: 50%; }
  .header__profile .profile__notification {
    position: absolute;
    top: -10px;
    left: 20px;
    height: 30px;
    width: 30px;
    margin-top: 0;
    background: #ff7f68;
    border: 4px solid #fff;
    border-radius: 50%;
    line-height: 27px;
    color: #fff;
    text-align: center;
    font-size: 16px; }

/* SWITCHES STYLED */
.switch-square {
  position: relative; }
  .switch-square .switch:after, .switch-square .switch:before {
    position: absolute;
    top: 10px;
    font-family: "myfont";
    font-size: 30px;
    color: #fff; }
  .switch-square .switch:before {
    left: 11px;
    content: "";
    z-index: 2; }
  .switch-square .switch:after {
    right: 11px;
    content: ""; }

.switch {
  position: relative;
  display: block;
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin-bottom: 30px; }
  .switch input {
    display: none; }
    .switch input:checked + .switch-slider {
      background-color: #a9cf55; }
    .switch input:checked + .switch-slider:before {
      transform: translateX(50px); }
  .switch .switch-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ff7f68;
    border-radius: 5px;
    transition: .4s; }
    .switch .switch-slider .switch-on {
      margin-left: 15px;
      line-height: 50px;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase; }
    .switch .switch-slider .switch-off {
      float: right;
      margin-right: 15px;
      line-height: 50px;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase; }
    .switch .switch-slider:before {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 3px;
      height: 44px;
      width: 44px;
      border-radius: 5px;
      background-color: #fff;
      z-index: 10;
      transition: .4s; }
  .switch .slider--rounded {
    border-radius: 50px; }
  .switch .slider--rounded:before {
    border-radius: 50%; }

/* BASIC CHECKBOX STYLE  */
.checkboxes {
  position: relative;
  margin: 20px;
  margin-left: 50px;
  margin-top: 10px; }
  .checkboxes .checkbox-label {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #dedede; }
    .checkboxes .checkbox-label:hover {
      border: 1px solid #a9cf55; }
  .checkboxes .checkbox-text {
    position: absolute;
    font-size: 26px;
    margin-left: 35px;
    cursor: pointer; }
  .checkboxes [type=checkbox] {
    visibility: hidden; }
    .checkboxes [type=checkbox]:checked + label:after {
      opacity: 1; }
    .checkboxes [type=checkbox]:checked + label {
      border: 1px solid #a9cf55;
      background: #edfdca; }

/* SQUARE CHECKBOX STYLE  */
.checkboxes--squared .checkbox-label {
  border-radius: 5px; }
  .checkboxes--squared .checkbox-label:after {
    content: '';
    width: 13px;
    height: 7px;
    position: absolute;
    top: 7px;
    left: 7px;
    border: 3px solid #a9cf55;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg); }

/* ROUNDED CHECKBOX STYLE  */
.checkboxes--rounded label {
  margin-top: 40px;
  border-radius: 50%; }
  .checkboxes--rounded label:after {
    content: '';
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    background: #a9cf55;
    opacity: 0; }

/* ROUNDED GRAPHIC STYLE */
.circle__border {
  position: relative;
  text-align: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-image: linear-gradient(180deg, transparent 50%, #a9cf55 50%), linear-gradient(270deg, #a9cf55 50%, #ededed 50%); }

.circle__inner {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 140px;
  height: 140px;
  line-height: 140px;
  border-radius: 50%;
  background: #fff; }

.circle__percent {
  top: 30px;
  font-size: 44px;
  font-weight: 200; }

/* LOGIN FORM STYLE */
.login {
  width: 455px;
  margin: 55px 40px; }
  .login h2 {
    font-size: 26px; }

.login__header {
  margin-top: 0;
  margin-bottom: 0; }

.login__header {
  background: #f6f5f6;
  padding: 20px 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #777777;
  border: 1px solid #d6d6d6;
  border-radius: 5px 5px 0 0; }

.login__container {
  position: relative;
  background: #fff;
  border: 1px solid #c7c6cb;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 40px 40px 50px;
  overflow: hidden; }
  .login__container .icon {
    position: absolute;
    font-size: 40px;
    left: 55px;
    color: #cccccc; }
  .login__container .-login {
    top: 55px; }
  .login__container .-password {
    top: 140px; }

.login__email,
.login__password,
.login__submit {
  box-sizing: border-box;
  display: block;
  outline: 0;
  border-radius: 5px;
  font-size: 26px;
  border: 1px solid #d5d5d5; }

.login__email,
.login__password {
  position: relative;
  width: 100%;
  padding: 20px 70px;
  color: #333333; }

.login__password {
  margin-top: 20px;
  margin-bottom: 25px; }

.login__submit {
  padding: 20px 55px;
  float: right;
  background: #4e90c7;
  border-color: transparent;
  color: #fff;
  cursor: pointer; }

::-webkit-input-placeholder {
  color: #cccccc; }

.login__email:focus,
.login__password:focus {
  border-color: #4e90c7; }

.login__email:focus + .-login {
  color: #4e90c7; }

.login__password:focus + .-password {
  color: #4e90c7; }

.login input[type="submit"]:hover {
  background: #4188c4; }

.login__submit:focus {
  position: relative;
  top: 1px;
  left: 1px; }

/* DROPPABLE MENU STYLE */
.select {
  position: relative;
  margin: 15px 0 15px 40px; }
  .select label {
    position: relative;
    display: inline-block;
    width: 20px;
    padding: 29px 20px;
    right: 3px;
    cursor: pointer;
    background: #f6f6f6;
    border: 1px solid #dbdbdb;
    border-radius: 0 5px 5px 0;
    border-left: none; }
    .select label:after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      border: 10px solid transparent;
      border-top-color: #bfbfbf; }

.select__header {
  float: left;
  width: 354px;
  padding: 20px;
  background: #f6f6f6;
  color: #333333;
  border: 1px solid #dbdbdb;
  border-radius: 5px 0 0 5px;
  border-right: none; }

.select__input:checked ~ label {
  border: 1px solid #c9c9c9;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #fff;
  background: #fff; }
  .select__input:checked ~ label:after {
    transform: rotate(180deg);
    top: 20%; }

.select__input {
  display: none; }

.select__submenu {
  position: absolute;
  top: 95%;
  display: none;
  background: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 0 0 5px 5px;
  border-top: none;
  width: 452px; }
  .select__submenu a {
    display: block;
    padding: 20px; }
    .select__submenu a:hover {
      background: #e5f2fd;
      color: #4e90c7; }

.select__input:checked ~ .select__submenu {
  display: block;
  z-index: 5; }

.select__input:checked ~ .select__header {
  border-radius: 5px 0 0 0;
  border-bottom: 1px solid #c9c9c9;
  color: #c9c9c9; }

.select--primary {
  z-index: 10; }

/* CALENDAR STYLE */
.calendar {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin: 55px 0 20px;
  font-size: 26px;
  overflow: hidden; }

/* Month header */
.month {
  position: relative;
  padding: 15px 30px;
  background: #f6f5f6;
  border-radius: 5px 5px 0 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold; }
  .month a {
    position: absolute;
    top: 15%;
    font-size: 36px;
    font-weight: normal;
    color: #e5e5e5; }
    .month a:hover {
      color: #777777; }
  .month .prev {
    left: 30px; }
  .month .next {
    right: 30px; }

/* Weekdays (Sun-Mon) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  padding-left: 15px;
  background-color: #fff;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6; }
  .weekdays li {
    display: inline-block;
    width: 50px;
    margin-left: 12px;
    color: #666;
    text-align: center; }

/* Days (1-31) */
.days {
  padding: 20px 10px;
  margin: 0;
  overflow: hidden; }
  .days li {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff; }
    .days li:empty {
      background: #f2f2f2; }
    .days li:hover {
      background: #ff7f68;
      color: #fff; }
  .days .calendar--active-first,
  .days .calendar--active-last {
    border-color: #ff7f68;
    color: #ff7f68; }
  .days .calendar--active-first {
    box-shadow: 5px 0 0 #ff7f68, 10px 0 0 #ff7f68, 15px 0 0 #ff7f68, 20px 0 0 #ff7f68, 25px 0 0 #ff7f68, 30px 0 0 #ff7f68, 35px 0 0 #ff7f68, 40px 0 0 #ff7f68; }
  .days .calendar--active-last {
    box-shadow: -10px 0 0 #ff7f68, -15px 0 0 #ff7f68; }
  .days .calendar--active {
    box-shadow: 5px 0 0 #ff7f68, 10px 0 0 #ff7f68, 15px 0 0 #ff7f68, 20px 0 0 #ff7f68, 25px 0 0 #ff7f68, 30px 0 0 #ff7f68, 35px 0 0 #ff7f68, 40px 0 0 #ff7f68;
    color: #fff;
    background: #ff7f68;
    border-color: #ff7f68;
    border-radius: 0; }
    .days .calendar--active:hover {
      background: #fff;
      color: #777777; }
  .days li:nth-of-type(7n + 1) {
    border-radius: 50%; }
  .days li:nth-of-type(7n) {
    box-shadow: none;
    border-radius: 50%; }

/* DIV WITH ACTORS STYLED */
.actor {
  position: relative;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin: 50px 0;
  padding: 0 25px;
  padding-bottom: 70px; }
  .actor h1 {
    font-size: 34px;
    color: #333333;
    font-weight: normal; }
  .actor p {
    font-size: 26px; }

.actor__photo {
  float: left;
  margin: 25px;
  margin-left: 0;
  border-radius: 50%; }

.actor__button {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  font-size: 28px;
  color: #fff; }
  .actor__button:hover {
    opacity: 0.75; }
  .actor__button .icon {
    display: block;
    float: left;
    margin-left: 50px;
    margin-right: 5px;
    margin-top: -2px;
    font-size: 34px; }

.button--fav {
  left: 0;
  width: 33.1%;
  border-radius: 0 0 0 5px;
  background: #a9cf55; }

.button--friends {
  left: 33.3%;
  width: 33.2%;
  background: #ff7f68; }

.button--views {
  right: 0;
  width: 33.2%;
  border-radius: 0 0 5px 0;
  background: #4e90c7; }

/* SLIDERS STYLE */
.sliders {
  margin: 170px 20px 55px; }

.slider1 {
  display: inline-block;
  position: relative;
  height: 90px;
  width: 100%; }
  .slider1 .slider1__thumb {
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 150px;
    height: 36px;
    width: 36px;
    padding: 4px;
    z-index: 2;
    cursor: pointer; }
    .slider1 .slider1__thumb span {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      border: 7px solid #4e90c7;
      border-radius: 50%; }
    .slider1 .slider1__thumb .slider1__value {
      position: absolute;
      background: #4e90c7;
      width: 60px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      display: inline-block;
      top: -50px;
      left: -12px; }
      .slider1 .slider1__thumb .slider1__value:after {
        content: "";
        position: absolute;
        border-top: 8px solid #4e90c7;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: 100%;
        left: 35%; }
  .slider1 .slider1__line {
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 36px);
    left: 18px;
    top: 13px;
    height: 10px;
    border-radius: 5px;
    background: #F0F0F0;
    z-index: 0;
    overflow: hidden; }
    .slider1 .slider1__line span {
      display: block;
      height: 100%;
      width: 0%;
      background: #4e90c7; }

.slider2 {
  display: inline-block;
  position: relative;
  height: 90px;
  width: 100%; }
  .slider2 .slider2__left-thumb,
  .slider2 .slider2__right-thumb {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 36px;
    width: 36px;
    padding: 4px;
    z-index: 2;
    cursor: pointer; }
    .slider2 .slider2__left-thumb span,
    .slider2 .slider2__right-thumb span {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      border: 7px solid #a9cf55;
      border-radius: 50%; }
  .slider2 .slider2__line {
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 36px);
    left: 18px;
    top: 13px;
    height: 10px;
    border-radius: 5px;
    background: #F0F0F0;
    z-index: 0;
    overflow: hidden; }
    .slider2 .slider2__line span {
      display: block;
      height: 100%;
      width: 0%;
      background: #a9cf55; }
  .slider2 .slider2__value {
    display: block;
    float: left;
    margin-top: 35px;
    margin-right: 17%;
    margin-left: 12px;
    font-weight: bold; }
    .slider2 .slider2__value:last-child {
      margin-right: 0; }

.slider3 {
  float: left;
  display: block;
  position: relative;
  margin-top: 20px;
  margin-left: 30px;
  height: 70px;
  width: 100%; }
  .slider3 .slider3__thumb {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 36px;
    width: 36px;
    padding: 4px;
    z-index: 2;
    cursor: pointer;
    left: 160px; }
    .slider3 .slider3__thumb span {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      border: 7px solid #ffa940;
      border-radius: 50%; }
  .slider3 .slider3__line {
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 100px);
    left: 18px;
    top: 13px;
    height: 10px;
    border-radius: 5px;
    background: #F0F0F0;
    z-index: 0;
    overflow: hidden; }
    .slider3 .slider3__line span {
      display: block;
      height: 10px;
      width: 150px;
      background: #ffa940; }
  .slider3 .slider3__minvalue,
  .slider3 .slider3__maxvalue {
    position: absolute;
    font-weight: bold;
    top: 10px; }
  .slider3 .slider3__minvalue {
    left: -10px; }
  .slider3 .slider3__maxvalue {
    right: 35px; }

/* DIV WITH VIDEO STYLED */
.video {
  margin: 135px 5px 55px 5px; }
  .video iframe {
    width: 100%;
    height: 345px;
    border-radius: 5px; }

/*# sourceMappingURL=app.css.map */
