$global-font-icon: 'myfont';
$main-font-color: #777777;
$main-color-red: #ff7f68;
$main-color-orange: #ffa940;
$main-color-green: #a9cf55;
$main-color-blue: #4e90c7;


@import 'icons/icons';
@import 'components/grid.scss';
@import 'components/main.scss';
@import 'components/header.scss';
@import 'components/switches.scss';
@import 'components/checkboxes.scss';
@import 'components/graphics.scss';
@import 'components/loginform.scss';
@import 'components/dropmenu.scss';
@import 'components/calendar.scss';
@import 'components/actordiv.scss';
@import 'components/range.scss';
@import 'components/videodiv.scss';

