
$icon-bell: "\EA01" !default;

$icon-comment: "\EA02" !default;

$icon-fav: "\EA03" !default;

$icon-friends: "\EA04" !default;

$icon-left_arrow: "\EA05" !default;

$icon-lens: "\EA06" !default;

$icon-login: "\EA07" !default;

$icon-no: "\EA08" !default;

$icon-password: "\EA09" !default;

$icon-right_arrow: "\EA0A" !default;

$icon-views: "\EA0B" !default;

$icon-yes: "\EA0C" !default;