


/* DIV WITH ACTORS STYLED */

.actor {
	position: relative;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	margin: 50px 0;
	padding: 0 25px;
	padding-bottom: 70px;

	h1 {
		font-size: 34px;
		color: #333333;
		font-weight: normal;
	}

	p {
		font-size: 26px;
	}
}

.actor__photo {
	float: left;
	margin: 25px;
	margin-left: 0;
	border-radius: $radius-circle;
}


.actor__button {
	display: block;
	position: absolute;
	bottom: 0;
	padding: 15px 0;
	font-size: 28px;
	color: $main-color-white;

	&:hover {
		opacity: 0.75;
	}

	.icon {
		display: block;
		float: left;
		margin-left: 50px;
		margin-right: 5px;
		margin-top: -2px;
		font-size: 34px;
	}
}

.button--fav {
	left: 0;
	width: 33.1%;
	border-radius: 0 0 0 5px;
	background:$main-color-green;
}

.button--friends {
	left: 33.3%;
	width: 33.2%;
	background:$main-color-red;

}

.button--views {
	right: 0;
	width: 33.2%;
	border-radius: 0 0 5px 0;
	background:$main-color-blue;
}