

/* CALENDAR STYLE */


.calendar {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    margin: 55px 0 20px;
    font-size: 26px;
    overflow: hidden;
}

/* Month header */
.month {
    position: relative;
    padding: 15px 30px;
    background: #f6f5f6;
    border-radius: 5px 5px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    a {
        position: absolute;
        top: 15%;
        font-size: 36px;
        font-weight: normal;
        color: #e5e5e5;

        &:hover {
            color: $main-font-color;
        }
    }

    .prev {
        left: 30px;
    }

    .next {
        right: 30px;
    }
}

/* Weekdays (Sun-Mon) */
.weekdays {
    margin: 0;    
    padding: 10px 0;
    padding-left: 15px;
    background-color:$main-color-white;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;

    li {
        display: inline-block;
        width: 50px;
        margin-left: 12px;
        color: #666;
        text-align: center;
    }
}

/* Days (1-31) */
.days {
    padding: 20px 10px;
    margin: 0;
    overflow: hidden;

    li {
        position: relative;
        display: block;
        float: left;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin-left: 15px;
        margin-bottom: 10px;
        border: 1px solid #dddddd;
        border-radius: $radius-circle;
        cursor: pointer;
        background-color: $main-color-white;
   
        &:empty {
            background:#f2f2f2;
        }

        &:hover {
            background: $main-color-red;
            color: $main-color-white;
        }


    }

    .calendar--active-first,
    .calendar--active-last {
        border-color: $main-color-red;
        color: $main-color-red;
    }

    .calendar--active-first {
        @include calendar-active-days;
    }

    .calendar--active-last {
        box-shadow: -10px 0 0 $main-color-red,
                    -15px 0 0 $main-color-red;
    }

    .calendar--active {
        @include calendar-active-days;
        color: $main-color-white;
        background: $main-color-red;
        border-color: $main-color-red;
        border-radius: 0;
        
        &:hover {
            background: #fff;
            color: $main-font-color;
        }
    }


    li:nth-of-type(7n + 1) {
        border-radius:  $radius-circle;
    }

    li:nth-of-type(7n) {
        box-shadow: none;
        border-radius: $radius-circle;
    }




}


