


/* CARD STYLED */

.card {
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	margin: 40px 0;
	padding: 0 25px;
	overflow: hidden;

	h1 {
		font-size: 34px;
		color: #333333;
		font-weight: normal;
	}

	p {
		font-size: 26px;
	}
}

.card__photo {
	float: left;
	margin: 25px;
	margin-left: 0;
	border-radius: $radius-circle;
}

.card__buttons {
	margin: 0 -25px;
}

.card__button {
	display: block;
	float: left;
	width: 33.3333%;
	margin-top: 25px;
	padding: 15px 0;
	text-align: center;
	font-size: 24px;
	color: $main-color-white;

	span:before {
		font-size: 30px;
		vertical-align: middle;
		padding-right: 5px;
	}


	&:hover {
		opacity: 0.75;
	}
}

.button--fav {
	border-radius: 0 0 0 5px;
	background:$main-color-green;
	border-right: 1px solid $main-color-white;
}

.button--friends {
	background:$main-color-red;
	border-right: 1px solid $main-color-white;

}

.button--views {
	border-radius: 0 0 5px 0;
	background:$main-color-blue;
}