

/* BASIC CHECKBOX STYLE  */

.checkboxes {
    position: relative;
    margin: 20px;
    margin-left: 50px;
    margin-top: 10px;

    .checkbox-label {
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #dedede;

        &:hover {
            border: 1px solid $main-color-green;
        }
    }

    .checkbox-text {
        position: absolute;
        font-size: 26px;
        margin-left: 35px;
        cursor: pointer;
    }


    [type=checkbox] {
        visibility: hidden;

        &:checked + label:after {
            opacity: 1;
        }   

        &:checked + label {
        	border: 1px solid $main-color-green;
        	background: #edfdca;
        }
    }
}



/* SQUARE CHECKBOX STYLE  */

.checkboxes--squared .checkbox-label {
    border-radius: 5px;

    &:after {
        content: '';
        width: 13px;
        height: 7px;
        position: absolute;
        top: 7px;
        left: 7px;
        border: 3px solid $main-color-green;
        border-top: none;
        border-right: none;
        opacity: 0;
        transform: rotate(-45deg);
    }
}



/* ROUNDED CHECKBOX STYLE  */

.checkboxes--rounded label{
    margin-top: 40px;
    border-radius: $radius-circle;

    &:after {
        content: '';
        top: 4px;
        left: 4px;
        width: 22px;
        height: 22px;
        border-radius: $radius-circle;
        position: absolute;

        background: $main-color-green;
        opacity: 0;
    }
}