


/* MAIN SETTINGS */

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: $main-font-color;
}

a {
	text-decoration: none;
	color: $main-font-color;
}

ul {
	list-style-type: none;
}

.float-left {
	float: left;
}

.wrapper {
	width: 1600px;
	margin: 0 auto;
}

/* Switches and checkpoints grouped in divs */
.group {
	float: left;
	height: 135px;
	width: 100px;
	margin-left: 50px;

	&:first-child {
		margin-left: 40px;
	}

	&:nth-child(6) {
		margin-left: 180px;
	}

	&:last-child {
		margin-left: 100px;
	}
}
