
/* SLIDERS STYLE */


.sliders {
    margin: 170px 20px 55px;
}

.slider {
    position: relative;
    margin: 70px 0;
    width: 100%;

    span {
        font-size: 1rem;
        font-weight: bold;
    }

    [type=range] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        outline: none;

        &::-webkit-slider-runnable-track {
            height: 10px;
            cursor: pointer;
            animate: 0.2s;
            background: #ededed;
            border-radius: 5px;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 7px solid;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background: #F0F0F0;
            cursor: pointer;
            margin-top: -9px;
        }
    }
}

.slider-1 {

    [type=range] {

        &::-webkit-slider-thumb {
            border: 7px solid $main-color-blue;
            background-image: linear-gradient(to right, transparent 70px, #a9cf55 70px, 335px, transparent 60%);
        }
    }
}

.slider-1__value {
    position: absolute;
    background: $main-color-blue;
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $main-color-white;
    border-radius: 5px;
    display: inline-block;
    bottom: 180%;
    left: 25%;

    &:after {
        content: '';
        position: absolute;
        border-top: 8px solid $main-color-blue;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: 100%;
        left: 35%;
    }
}

.slider2 {
    display: inline-block;
    position: relative;
    height: 90px;
    width: 100%;

    .slider2__left-thumb, 
    .slider2__right-thumb {
        display: block;
        position: absolute;
        height: 36px;
        width: 36px;
        padding: 4px;
        z-index: 2;
        cursor: pointer;
        
        span {
            display: block;
            width: 100%;
            height: 100%;
            background: #F0F0F0;
            border: 7px solid $main-color-green;
            border-radius: $radius-circle;
        }
    }

    .slider2__line {
        position: absolute;
        width: calc(100% - 36px);
        left: 18px;
        top: 13px;
        height: 10px;
        border-radius: 5px;
        background: #F0F0F0;
        z-index: 0;
        overflow: hidden;

        span {
            display: block;
            height: 100%;
            width: 0%;
            background: $main-color-green;
        }
    }

     .slider2__value {
        display: block;
        float: left;
        margin-top: 35px;
        margin-right: 17%;
        margin-left: 12px;

        font-weight: bold;


        &:last-child {
            margin-right: 0;
        }
    }
}

.slider3 {
    float: left;
    display: block;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    height: 70px;
    width: 100%;

    .slider3__thumb {
        display: block;
        position: absolute;
        height: 36px;
        width: 36px;
        padding: 4px;
        z-index: 2;
        cursor: pointer;
        left: 160px;
        
        span {
            display: block;
            width: 100%;
            height: 100%;
            background: #F0F0F0;
            border: 7px solid $main-color-orange;
            border-radius: $radius-circle;
        }
    }

    .slider3__line {
        position: absolute;
        width: calc(100% - 100px);
        left: 18px;
        top: 13px;
        height: 10px;
        border-radius: 5px;
        background: #F0F0F0;
        z-index: 0;
        overflow: hidden;

        span {
            display: block;
            height: 10px;
            width: 150px;
            background: $main-color-orange;
        }
    }

    .slider3__minvalue,
    .slider3__maxvalue {
        position: absolute;
        font-weight: bold;
        top: 10px;
    }

    .slider3__minvalue {
        left: -10px;
    }

    .slider3__maxvalue {
        right: 35px;
    }

}




