


/* DIV WITH VIDEO STYLED */

.video {
	margin: 95px 5px 55px 5px;
	padding: 245px 30px 30px;

	border: 1px solid #d6d6d6;
	border-radius: 5px;
	background: url('../img/videoimg.png');
	background-size: cover;
}